<section>
  <div class="page-header">
    <h1>Testcruds</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="testcrud in vm.testcruds"
       ui-sref="testcruds.view({ testcrudId: testcrud._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="testcrud.created | date:'mediumDate'"></span>
        by
        <span ng-if="testcrud.user" ng-bind="testcrud.user.displayName"></span>
        <span ng-if="!testcrud.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="testcrud.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.testcruds.$resolved && !vm.testcruds.length">
    No Testcruds yet, why don't you <a ui-sref="testcruds.create">create one</a>?
  </div>
</section>
