<div class="col-xs-6 col-sm-3 sidebar-offcanvas"
     role="navigation">
  <div class="list-group">
    <span class="list-group-item header">

      Business Directory</span>
    <a href="/index.html"
       class="list-group-item internal" data-toggle="offcanvas">
      Directory
    </a>
    <a href="/search.html"
       class="list-group-item internal"
       data-toggle="offcanvas">
      Search
    </a>
        <a class="list-group-item internal"
           href="/addbusiness.html">Add Business</a>
  </div>
</div>
