<div class="col-xs-6 col-sm-3 sidebar-offcanvas" ng-controller="RightbarController"
     role="navigation">
  <div class="list-group" ng-if="menu" ng-repeat="item in menu.items | orderBy: 'position'"
       ng-if="item.shouldRender(authentication.user);"
       ng-switch="item.type">
    <span ng-switch-when="dropdown" class="list-group-item header"> {{::item.title}}</span>
    <span ng-switch-default>
      <a class="list-group-item header internal" ui-sref="{{item.state}}" ui-sref-active="active" ng-bind="item.title"></a>
    </span>
    <a class="list-group-item internal"
       ng-repeat="subitem in item.items | orderBy: 'position'"
       ng-if="subitem.shouldRender(authentication.user);"
       ui-sref-active="active"
       ui-sref="{{subitem.state}}" ng-bind="subitem.title">
      {{::subitem.title}}
    </a>
  </div>
</div>
