<section>
  <div class="page-header">
    <h1>Tasks</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="task in vm.tasks"
       ui-sref="tasks.view({ taskId: task._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="task.created | date:'mediumDate'"></span>
        by
        <span ng-if="task.user" ng-bind="task.user.displayName"></span>
        <span ng-if="!task.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="task.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center"
       ng-if="vm.tasks.$resolved && !vm.tasks.length">
    No Tasks yet, why don't you <a ui-sref="tasks.create">create one</a>?
  </div>


  <div class="md-padding demo">
    <div layout="row" layout-wrap>
      <div flex="100" layout="column">
        <div>
          <!--
            In IE, we cannot apply flex directly to <fieldset>
            @see https://github.com/philipwalton/flexbugs#9-some-html-elements-cant-be-flex-containers
          -->
          <fieldset class="demo-fieldset">
            <legend class="demo-legend">Using &lt;md-checkbox&gt; with the
              'indeterminate' attribute
            </legend>
            <div layout="row" layout-wrap flex>
              <div flex-xs flex="50">
                <md-checkbox aria-label="Select All"
                             ng-checked="isChecked()"
                             md-indeterminate="isIndeterminate()"
                             ng-click="toggleAll()">
                  <span ng-if="isChecked()">Un-</span>Select All
                </md-checkbox>
              </div>
              <div class="demo-select-all-checkboxes" flex="100"
                   ng-repeat="item in items">
                <md-checkbox ng-checked="exists(item, selected)"
                             ng-click="toggle(item, selected)">
                  {{ item.name }}
                </md-checkbox>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
</section>
